<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: header"></head>
	<body>
		<nav th:replace="fragments :: navigation"></nav>
		<br/>
		<form method="post">
			<input type="text" name="cheeseName" th:value="${cheeseName}" placeholder="Cheese Type" autofocus required/>
			<input type="text" name="cheeseDesc" th:value="${cheeseDesc}" placeholder="Tell me about this cheese!"/>
			<input type="submit" value="Cheese Me!"/>
		</form>
		<h5 th:unless="!${error}" th:text="${error}" style="color:red"></h5>
	</body>
</html>